
.center-panel-internal {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}

@media only screen and (min-width: 992px) {
  .center-panel-internal {
    flex-direction: row;
    justify-content: space-between;
  }

  .picture-panel {
    width: 35%;
  }
  
  .picture-sibling-panel {
    width: 64%;
  }
}
