
.center-panel-internal {
  display: flex;
  flex-direction: column;
}

.picture-panel {
  width: 34%;
}

.picture-sibling-panel {
  width: 64%;
}

.enlarged-picture-panel {
  /* ray test touch < */
  display: none;
  /* ray test touch > */
}

/* ray test touch < */
.summary-panel {
  /* display: none; */
}
/* ray test touch > */

@media (min-width: 480px) {
  .center-panel-internal {
    flex-direction: row;
    justify-content: space-between;
  }
}
