
.left-summary {
  margin-right: 20px;
  margin-left: 20px;
}

.product-name {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  border-bottom: 1px solid #CCC;
}
