
.product-name {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  border-bottom: 1px solid #CCC;
  /* ray test touch < */
  margin-right: 14px;
  /* ray test touch > */
}
