
.property-field {
  display: flex;
  padding-top: 12px;
  font-size: small;
}

.property-center-alignment {
  align-items: center;
}

.property-top-alignment {
  align-items: flex-start;
}

.property-label {
  flex: 1;
  text-align: right;
  margin-right: 14px;
}

.property-value {
  flex: 5;
  min-width: 0;
}

@media only screen and (min-width: 540px) {
  .property-label {
    flex: 1;
  }
  
  .property-value {
    flex: 3;
  }
}
