
.App {
  margin: 0 auto;
  max-width: 1458px;
}

.generic-font-color {
  color: #636363;
}

.bold-font-color {
  color: #333;
}

a {
  color: #0654ba;
}

.flexbox {
  display: flex;
  align-items: center;
}
